@page "/folder/add"
@inherits AddFolderBase

<h3>Add new folder</h3>

<form class="folder-add-form">
    @if (ValidationMessages.Any())
    {
    <div class="validation-summary">
        <ul>
            @foreach (var message in ValidationMessages)
            {
                <li>@message</li>
            }
        </ul>
    </div>
    }
    <div class="form-group">
        <input type="radio" class="form-check-input" id="create" name="creationOption" value="create"
               @onchange="@(()=> SelectedFolderCreationOption = FolderCreationOption.CreateNew)"
               checked="@(SelectedFolderCreationOption == FolderCreationOption.CreateNew)" />
        <label for="create">Create:</label>
        <input type="text" class="form-text" placeholder="folder name"
               @bind="SelectedFolder"
               disabled="@(SelectedFolderCreationOption != FolderCreationOption.CreateNew)" />
    </div>

    <div class="form-group">
        <input type="radio" class="form-check-input" id="select" name="creationOption" value="select"
               @onchange="@(()=> SelectedFolderCreationOption = FolderCreationOption.SelectExisting)"
               checked="@(SelectedFolderCreationOption == FolderCreationOption.SelectExisting)" />
        <label for="select">Select:</label>
        <select class="form-control" @bind="SelectedFolder"
                disabled="@(SelectedFolderCreationOption != FolderCreationOption.SelectExisting)">
            <option></option>
            @foreach (var folder in AvailableFolders)
            {
                <option value="@folder.Name">@folder.Name</option>
            }
        </select>
    </div>
    <div class="folder-options">
        <h4>Options</h4>
        <div class="form-group">
            <input type="checkbox" id="deleteAfterSend" @bind="DeleteAfterSend" />
            <label for="deleteAfterSend">Delete files after send</label>
        </div>
        <div class="form-group">
            <label for="recipients">Recipients:</label>
            <CheckBoxListView CheckItems="Recipients" />
        </div>
    </div>

    <input type="button" class="btn btn-primary btn-save-folder"
           @onclick="CreateNewFolder"
           value="Save" />
</form>

@code {

}
