@page "/folder/{folderId}"
@inherits FolderOverviewBase
<div class="folder-overview">
    <div class="folder-overview-data">
        <h3>@FolderOverviewModel.FolderName</h3>
        <div class="folder-metadata">
            <span>
                Files:
                <span title="Amount of files processed to send" class="oi oi-arrow-thick-top" aria-hidden="true"></span> @FolderOverviewModel.AmountOfFilesProcessedForSending
                <span title="Amount of files received" class="oi oi-arrow-thick-bottom space-before-10"> </span> @FolderOverviewModel.AmountOfFilesProcessedForDownload
                <span title="Amount of files failed to process" class="oi oi-bug space-before-10"></span> @FolderOverviewModel.AmountOfFilesFailedToProcess
            </span>
        </div>
        <NavLink class="nav-link folder-setting-link" href='@("folder/"+ FolderId + "/settings")'>
            <span class="oi oi-cog" aria-hidden="true"></span>
        </NavLink>
    </div>
    <div class="blade-rack">
        <div class="blade-recipients @(FileOverviewModels.Any() ? "blade-side" : "")">
            @foreach (var recipient in FolderOverviewModel.Recipients.OrderBy(x => x.RecipientName))
            {
                <Pi.Replicate.WebUi.Pages.Folders.Components.RecipientTile Recipient="recipient" Clicked="RecipientClicked" />
            }
        </div>
        @if (FileOverviewModels.Any())
        {
            <div class="blade-files">
                <Pi.Replicate.WebUi.Pages.Folders.Components.FileOverview Files="FileOverviewModels" OnCloseClicked="@(()=>FileOverviewModels.Clear())" />
            </div>
        }
    </div>
</div>
