@page "/folder/{folderId}"
@inherits FolderOverviewBase

<div class="folder-overview">
    <div class="folder-overview-data">
        <h3>@FolderOverviewModel.FolderName</h3>
        <div class="metadata">
            <span>
                Files:
                <span class="oi oi-arrow-thick-top" aria-hidden="true"></span> @FolderOverviewModel.AmountOfFilesProcessedForUpload
                <span class="oi oi-arrow-thick-bottom" aria-hidden="true"></span> @FolderOverviewModel.AmountOfFilesProcessedForDownload
            </span>
           
        </div>
        <NavLink class="nav-link folder-setting" href='@("folder/"+ FolderId + "/settings")'>
            <span class="oi oi-cog" aria-hidden="true"></span>
        </NavLink>
    </div>
    <div class="folder-overview-recipients">
        @foreach (var recipient in FolderOverviewModel.Recipients.OrderBy(x => x.RecipientName))
        {
            <div class="recipient" @onclick="@(()=>RecipientClicked(recipient.RecipientId))">
                <div class="recipient-header">
                    <h4 title="@recipient.RecipientName">@recipient.RecipientName</h4>
                    <p title="@recipient.RecipientAddress" class="recipient-address">@recipient.RecipientAddress</p>
                </div>
                <div class="metadata">
                    <span>
                        Chunks:
                        <span class="oi oi-arrow-thick-top" aria-hidden="true"></span>  @recipient.AmountOfChunksUploaded
                        <span class="oi oi-arrow-thick-bottom" aria-hidden="true"></span> @recipient.AmountOfChunksDownloaded
                    </span>
                    <span>
                        Failed <br />
                        Metadata: @recipient.AmountOfFailedFileMetadata <br />
                        Chunks: @recipient.AmountOfFailedFileChunks <br />
                        Eof: @recipient.AmountOfFailedEofMessages
                    </span>
                </div>
            </div>
        }
    </div>
</div>
