@page "/"
@inherits IndexBase

<div class="site-overview">
    <div class="site-overview-tiles">
        <div class="site-overview-tile">
            <span class="site-overview-tile-title">Files processed for upload</span>
            <span class="oi oi-arrow-thick-top site-overview-tile-symbol" />
            <span class="site-overview-tile-value">@OverviewModel.AmountOfFilesProcessedForSending</span>
        </div>

        <div class="site-overview-tile">
            <span class="site-overview-tile-title">Files received and processed</span>
            <span class="oi oi-arrow-thick-bottom site-overview-tile-symbol" />
            <span class="site-overview-tile-value">@OverviewModel.AmountOfFilesProcessedForDownload</span>
        </div>
        <div class="site-overview-tile">
            <span class="site-overview-tile-title">Workerhost Telemetry</span>
            <span class="oi oi-pulse site-overview-tile-symbol" />
            <table class="site-overview-tile-value site-overview-tile-valuegrid">
                <tr>
                    <td>Memory:</td>
                    <td>@SystemOverview.MemoryUsage</td>
                </tr>
                <tr>
                    <td>Processor:</td>
                    <td>@Math.Ceiling(SystemOverview.CpuUsagePercentage) %</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="site-overview-log">
        <h4>Current log messages</h4>
        <ul class="scrollbar-px-10">
            @foreach(var logItem in LogItems)
        {
            <li class="@(FormLogMessageClass(logItem.Level))">@logItem.Content</li>
        }
        </ul>
    </div>
</div>
